{% extends 'base.html' %}
{% load photo_tags %}
{% block content %}

  <div style="display: none" id="csrf_token">{% csrf_token %}</div>
  {% for photo in photos_list %}
    <div class="row hr-divider">
      <div class="col-sm-6 col-sm-offset-3 col-md-12 col-xs-12">
        <div class="image-container">

          <div class="user-info"> {{ photo.user.username }}</div>
          <div class="user-info">{{ photo.user.email }}</div>
          <p>Likes:</p>
          <div class="likes-count">{{ photo.likes_count }}</div>

          {% show_like_button photo %}

          <div><a href="{% url 'photo_detail' pk=photo.id %}"><img src="{{ photo.image.url }}" class="thumbnail"></a>
          </div>
          <button type="button" class="show-comments-btn btn btn-primary">Show comments</button>
          <div class="comments-container" style="display: none;" data-comments-url="{% url 'comments' pk=photo.id %}">

            <form class="comment-form" method="POST" data-action="{% url 'comment' pk=photo.id %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_text">Comment:</label>
                <p class="form-errors"></p>
                <textarea name="text" id="id_text" class="form-control" rows="5"></textarea>
              </div>
              <input type="submit" value="Submit" class="btn btn-primary">

            </form>

            <div class="photo-comments"></div>
          </div>

        </div>
      </div>
    </div>
  {% endfor %}

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>

  {% endif %}
{% endblock %}