{% extends 'base.html' %}
{% block content %}

  <div class="container">

    <form class="form-signin" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="id_username" class="sr-only">Username: </label>
      <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required
             autofocus>
      <label for="id_password" class="sr-only">Password</label>
      <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p class="error_login">Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
