{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-12 col-xs-12">
      {% if photo.user == user %}
        <form action="{% url 'delete_photo' pk=photo.id %}" method="post">{% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-primary"/>
        </form>
      {% endif %}
    <div class="image-container">
      <img src="{{ photo.image.url }}" class="thumbnail">
      <div>Description: {{ photo.description }}</div>
      <div>Username: {{ photo.user.username }}</div>
      <div>Email: {{ photo.user.email }}</div>
      <div>Date added: {{ photo.create_date }}</div>
      <div>Likes: {{ photo.likes_count }}</div>
      <button type="button" class="show-comments-btn btn btn-primary">Show comments</button>
      <div class="comments-container" data-comments-url="{% url 'comments' pk=photo.id %}">
        <form method="POST" class="comment-form" data-action="{% url 'comment' pk=photo.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_text">Comment:</label>
             <p class="form-errors"></p>
            <textarea name="text" id="id_text" class="form-control" rows="5"></textarea>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary">

        </form>
{#        {% for comment in photo_comments %}#}
{#          <div>{{ comment.user.username }}</div>#}
{#          <div>{{ comment.text }}</div>#}
{#        {% empty %}#}
{#          <p>No comments yet. Be the first! </p>#}
{#        {% endfor %}#}
       <div class="photo-comments"></div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}