html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
    margin-bottom: 60px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container.main {
  margin-top: 40px;
}

.thumbnail {
  max-width: 600px;
  max-height: 350px;
}

.image-holder {
  position: relative;
}
.comment-form > label {
  padding: 100px;
}

textarea {
  max-width: 600px;
}

.user-info {
  margin-bottom: 20px;
  margin-top: 15px;
}
.hr-divider {
  padding: 10px;
  border-bottom: 1px dashed grey;
}